@import "../../styles/variables";

.header {
  background-color: $color-white;
  border-bottom: 1px solid $color-border;
  padding: $spacing-small $spacing-large;
  box-shadow: $box-shadow;
}

.header__title {
  margin: 0;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  color: $color-secondary;
  text-align: center;
}