@import "../../styles/variables";

.header {
  background: color(white);
  border-bottom: 1px solid color(gray-200);
  padding: spacing(lg) spacing(xxl);
  box-shadow: shadow(sm);

  &__title {
    margin: 0;
    font-size: font-size(xl);
    font-weight: font-weight(semibold);
    color: color(gray-800);
    text-align: center;
    letter-spacing: 1px;
  }

  &__icon {
    margin-right: spacing(sm);
    color: color(primary);
  }
}
