@import "../../../styles/mixins";

.client-list {
  @include data-table(1.5fr 2.5fr 1fr 1fr 1fr 2fr 2fr 1fr 120px);

  &__btn {
    @include btn(primary);
    font-size: font-size(xs);
    padding: spacing(xs) spacing(sm);
    margin: 0 spacing(xs);

    &--edit {
      @include btn(secondary);
    }

    &--delete {
      @include btn(danger);
    }
  }
}
