@import "normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import "app/styles/variables";
@import "app/styles/mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: color(gray-800);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: color(gray-50);
}

.btn {
  @include btn();
}
